@charset "UTF-8";

@font-face {
  font-family: "linea-arrows-10";
  src:url("/fonts/linea-arrows-10.eot");
  src:url("/fonts/linea-arrows-10.eot?#iefix") format("embedded-opentype"),
    url("/fonts/linea-arrows-10.woff") format("woff"),
    url("/fonts/linea-arrows-10.ttf") format("truetype"),
    url("/fonts/linea-arrows-10.svg#linea-arrows-10") format("svg");
  font-weight: normal;
  font-style: normal;
  font-size:24px !important;

}

[data-ico-arrows]:before {
  font-family: "linea-arrows-10" !important;
  content: attr(data-ico);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-arrows"]:before,
[class*=" ico-arrows"]:before {
  font-family: "linea-arrows-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-arrows-anticlockwise:before {
  content: "\e000";
}
.ico-arrows-anticlockwise-dashed:before {
  content: "\e001";
}
.ico-arrows-button-down:before {
  content: "\e002";
}
.ico-arrows-button-off:before {
  content: "\e003";
}
.ico-arrows-button-on:before {
  content: "\e004";
}
.ico-arrows-button-up:before {
  content: "\e005";
}
.ico-arrows-check:before {
  content: "\e006";
}
.ico-arrows-circle-check:before {
  content: "\e007";
}
.ico-arrows-circle-down:before {
  content: "\e008";
}
.ico-arrows-circle-downleft:before {
  content: "\e009";
}
.ico-arrows-circle-downright:before {
  content: "\e00a";
}
.ico-arrows-circle-left:before {
  content: "\e00b";
}
.ico-arrows-circle-minus:before {
  content: "\e00c";
}
.ico-arrows-circle-plus:before {
  content: "\e00d";
}
.ico-arrows-circle-remove:before {
  content: "\e00e";
}
.ico-arrows-circle-right:before {
  content: "\e00f";
}
.ico-arrows-circle-up:before {
  content: "\e010";
}
.ico-arrows-circle-upleft:before {
  content: "\e011";
}
.ico-arrows-circle-upright:before {
  content: "\e012";
}
.ico-arrows-clockwise:before {
  content: "\e013";
}
.ico-arrows-clockwise-dashed:before {
  content: "\e014";
}
.ico-arrows-compress:before {
  content: "\e015";
}
.ico-arrows-deny:before {
  content: "\e016";
}
.ico-arrows-diagonal:before {
  content: "\e017";
}
.ico-arrows-diagonal2:before {
  content: "\e018";
}
.ico-arrows-down:before {
  content: "\e019";
}
.ico-arrows-down-double:before {
  content: "\e01a";
}
.ico-arrows-downleft:before {
  content: "\e01b";
}
.ico-arrows-downright:before {
  content: "\e01c";
}
.ico-arrows-drag-down:before {
  content: "\e01d";
}
.ico-arrows-drag-down-dashed:before {
  content: "\e01e";
}
.ico-arrows-drag-horiz:before {
  content: "\e01f";
}
.ico-arrows-drag-left:before {
  content: "\e020";
}
.ico-arrows-drag-left-dashed:before {
  content: "\e021";
}
.ico-arrows-drag-right:before {
  content: "\e022";
}
.ico-arrows-drag-right-dashed:before {
  content: "\e023";
}
.ico-arrows-drag-up:before {
  content: "\e024";
}
.ico-arrows-drag-up-dashed:before {
  content: "\e025";
}
.ico-arrows-drag-vert:before {
  content: "\e026";
}
.ico-arrows-exclamation:before {
  content: "\e027";
}
.ico-arrows-expand:before {
  content: "\e028";
}
.ico-arrows-expand-diagonal1:before {
  content: "\e029";
}
.ico-arrows-expand-horizontal1:before {
  content: "\e02a";
}
.ico-arrows-expand-vertical1:before {
  content: "\e02b";
}
.ico-arrows-fit-horizontal:before {
  content: "\e02c";
}
.ico-arrows-fit-vertical:before {
  content: "\e02d";
}
.ico-arrows-glide:before {
  content: "\e02e";
}
.ico-arrows-glide-horizontal:before {
  content: "\e02f";
}
.ico-arrows-glide-vertical:before {
  content: "\e030";
}
.ico-arrows-hamburger1:before {
  content: "\e031";
}
.ico-arrows-hamburger-2:before {
  content: "\e032";
}
.ico-arrows-horizontal:before {
  content: "\e033";
}
.ico-arrows-info:before {
  content: "\e034";
}
.ico-arrows-keyboard-alt:before {
  content: "\e035";
}
.ico-arrows-keyboard-cmd:before {
  content: "\e036";
}
.ico-arrows-keyboard-delete:before {
  content: "\e037";
}
.ico-arrows-keyboard-down:before {
  content: "\e038";
}
.ico-arrows-keyboard-left:before {
  content: "\e039";
}
.ico-arrows-keyboard-return:before {
  content: "\e03a";
}
.ico-arrows-keyboard-right:before {
  content: "\e03b";
}
.ico-arrows-keyboard-shift:before {
  content: "\e03c";
}
.ico-arrows-keyboard-tab:before {
  content: "\e03d";
}
.ico-arrows-keyboard-up:before {
  content: "\e03e";
}
.ico-arrows-left:before {
  content: "\e03f";
}
.ico-arrows-left-double-32:before {
  content: "\e040";
}
.ico-arrows-minus:before {
  content: "\e041";
}
.ico-arrows-move:before {
  content: "\e042";
}
.ico-arrows-move2:before {
  content: "\e043";
}
.ico-arrows-move-bottom:before {
  content: "\e044";
}
.ico-arrows-move-left:before {
  content: "\e045";
}
.ico-arrows-move-right:before {
  content: "\e046";
}
.ico-arrows-move-top:before {
  content: "\e047";
}
.ico-arrows-plus:before {
  content: "\e048";
}
.ico-arrows-question:before {
  content: "\e049";
}
.ico-arrows-remove:before {
  content: "\e04a";
}
.ico-arrows-right:before {
  content: "\e04b";
}
.ico-arrows-right-double:before {
  content: "\e04c";
}
.ico-arrows-rotate:before {
  content: "\e04d";
}
.ico-arrows-rotate-anti:before {
  content: "\e04e";
}
.ico-arrows-rotate-anti-dashed:before {
  content: "\e04f";
}
.ico-arrows-rotate-dashed:before {
  content: "\e050";
}
.ico-arrows-shrink:before {
  content: "\e051";
}
.ico-arrows-shrink-diagonal1:before {
  content: "\e052";
}
.ico-arrows-shrink-diagonal2:before {
  content: "\e053";
}
.ico-arrows-shrink-horizonal2:before {
  content: "\e054";
}
.ico-arrows-shrink-horizontal1:before {
  content: "\e055";
}
.ico-arrows-shrink-vertical1:before {
  content: "\e056";
}
.ico-arrows-shrink-vertical2:before {
  content: "\e057";
}
.ico-arrows-sign-down:before {
  content: "\e058";
}
.ico-arrows-sign-left:before {
  content: "\e059";
}
.ico-arrows-sign-right:before {
  content: "\e05a";
}
.ico-arrows-sign-up:before {
  content: "\e05b";
}
.ico-arrows-slide-down1:before {
  content: "\e05c";
}
.ico-arrows-slide-down2:before {
  content: "\e05d";
}
.ico-arrows-slide-left1:before {
  content: "\e05e";
}
.ico-arrows-slide-left2:before {
  content: "\e05f";
}
.ico-arrows-slide-right1:before {
  content: "\e060";
}
.ico-arrows-slide-right2:before {
  content: "\e061";
}
.ico-arrows-slide-up1:before {
  content: "\e062";
}
.ico-arrows-slide-up2:before {
  content: "\e063";
}
.ico-arrows-slim-down:before {
  content: "\e064";
}
.ico-arrows-slim-down-dashed:before {
  content: "\e065";
}
.ico-arrows-slim-left:before {
  content: "\e066";
}
.ico-arrows-slim-left-dashed:before {
  content: "\e067";
}
.ico-arrows-slim-right:before {
  content: "\e068";
}
.ico-arrows-slim-right-dashed:before {
  content: "\e069";
}
.ico-arrows-slim-up:before {
  content: "\e06a";
}
.ico-arrows-slim-up-dashed:before {
  content: "\e06b";
}
.ico-arrows-square-check:before {
  content: "\e06c";
}
.ico-arrows-square-down:before {
  content: "\e06d";
}
.ico-arrows-square-downleft:before {
  content: "\e06e";
}
.ico-arrows-square-downright:before {
  content: "\e06f";
}
.ico-arrows-square-left:before {
  content: "\e070";
}
.ico-arrows-square-minus:before {
  content: "\e071";
}
.ico-arrows-square-plus:before {
  content: "\e072";
}
.ico-arrows-square-remove:before {
  content: "\e073";
}
.ico-arrows-square-right:before {
  content: "\e074";
}
.ico-arrows-square-up:before {
  content: "\e075";
}
.ico-arrows-square-upleft:before {
  content: "\e076";
}
.ico-arrows-square-upright:before {
  content: "\e077";
}
.ico-arrows-squares:before {
  content: "\e078";
}
.ico-arrows-stretch-diagonal1:before {
  content: "\e079";
}
.ico-arrows-stretch-diagonal2:before {
  content: "\e07a";
}
.ico-arrows-stretch-diagonal3:before {
  content: "\e07b";
}
.ico-arrows-stretch-diagonal4:before {
  content: "\e07c";
}
.ico-arrows-stretch-horizontal1:before {
  content: "\e07d";
}
.ico-arrows-stretch-horizontal2:before {
  content: "\e07e";
}
.ico-arrows-stretch-vertical1:before {
  content: "\e07f";
}
.ico-arrows-stretch-vertical2:before {
  content: "\e080";
}
.ico-arrows-switch-horizontal:before {
  content: "\e081";
}
.ico-arrows-switch-vertical:before {
  content: "\e082";
}
.ico-arrows-up:before {
  content: "\e083";
}
.ico-arrows-up-double-33:before {
  content: "\e084";
}
.ico-arrows-upleft:before {
  content: "\e085";
}
.ico-arrows-upright:before {
  content: "\e086";
}
.ico-arrows-vertical:before {
  content: "\e087";
}


/* linea software */

@font-face {
  font-family: "linea-software-10";
  src:url("/fonts/linea-software-10.eot");
  src:url("/fonts/linea-software-10.eot?#iefix") format("embedded-opentype"),
    url("/fonts/linea-software-10.woff") format("woff"),
    url("/fonts/linea-software-10.ttf") format("truetype"),
    url("/fonts/linea-software-10.svg#linea-software-10") format("svg");
  font-weight: normal;
  font-style: normal;
  font-size:24px !important;

}

[data-ico-software]:before {
  font-family: "linea-software-10" !important;
  content: attr(data-ico);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-software"]:before,
[class*=" ico-software"]:before {
  font-family: "linea-software-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-software-add-vectorpoint:before {
  content: "a";
}
.ico-software-box-oval:before {
  content: "b";
}
.ico-software-box-polygon:before {
  content: "c";
}
.ico-software-box-rectangle:before {
  content: "d";
}
.ico-software-box-roundedrectangle:before {
  content: "e";
}
.ico-software-character:before {
  content: "f";
}
.ico-software-crop:before {
  content: "g";
}
.ico-software-eyedropper:before {
  content: "h";
}
.ico-software-font-allcaps:before {
  content: "i";
}
.ico-software-font-baseline-shift:before {
  content: "j";
}
.ico-software-font-horizontal-scale:before {
  content: "k";
}
.ico-software-font-kerning:before {
  content: "l";
}
.ico-software-font-leading:before {
  content: "m";
}
.ico-software-font-size:before {
  content: "n";
}
.ico-software-font-smallcapital:before {
  content: "o";
}
.ico-software-font-smallcaps:before {
  content: "p";
}
.ico-software-font-strikethrough:before {
  content: "q";
}
.ico-software-font-tracking:before {
  content: "r";
}
.ico-software-font-underline:before {
  content: "s";
}
.ico-software-font-vertical-scale:before {
  content: "t";
}
.ico-software-horizontal-align-center:before {
  content: "u";
}
.ico-software-horizontal-align-left:before {
  content: "v";
}
.ico-software-horizontal-align-right:before {
  content: "w";
}
.ico-software-horizontal-distribute-center:before {
  content: "x";
}
.ico-software-horizontal-distribute-left:before {
  content: "y";
}
.ico-software-horizontal-distribute-right:before {
  content: "z";
}
.ico-software-indent-firstline:before {
  content: "A";
}
.ico-software-indent-left:before {
  content: "B";
}
.ico-software-indent-right:before {
  content: "C";
}
.ico-software-lasso:before {
  content: "D";
}
.ico-software-layers1:before {
  content: "E";
}
.ico-software-layers2:before {
  content: "F";
}
.ico-software-layout:before {
  content: "G";
}
.ico-software-layout-2columns:before {
  content: "H";
}
.ico-software-layout-3columns:before {
  content: "I";
}
.ico-software-layout-4boxes:before {
  content: "J";
}
.ico-software-layout-4columns:before {
  content: "K";
}
.ico-software-layout-4lines:before {
  content: "L";
}
.ico-software-layout-8boxes:before {
  content: "M";
}
.ico-software-layout-header:before {
  content: "N";
}
.ico-software-layout-header-2columns:before {
  content: "O";
}
.ico-software-layout-header-3columns:before {
  content: "P";
}
.ico-software-layout-header-4boxes:before {
  content: "Q";
}
.ico-software-layout-header-4columns:before {
  content: "R";
}
.ico-software-layout-header-complex:before {
  content: "S";
}
.ico-software-layout-header-complex2:before {
  content: "T";
}
.ico-software-layout-header-complex3:before {
  content: "U";
}
.ico-software-layout-header-complex4:before {
  content: "V";
}
.ico-software-layout-header-sideleft:before {
  content: "W";
}
.ico-software-layout-header-sideright:before {
  content: "X";
}
.ico-software-layout-sidebar-left:before {
  content: "Y";
}
.ico-software-layout-sidebar-right:before {
  content: "Z";
}
.ico-software-magnete:before {
  content: "0";
}
.ico-software-pages:before {
  content: "1";
}
.ico-software-paintbrush:before {
  content: "2";
}
.ico-software-paintbucket:before {
  content: "3";
}
.ico-software-paintroller:before {
  content: "4";
}
.ico-software-paragraph:before {
  content: "5";
}
.ico-software-paragraph-align-left:before {
  content: "6";
}
.ico-software-paragraph-align-right:before {
  content: "7";
}
.ico-software-paragraph-center:before {
  content: "8";
}
.ico-software-paragraph-justify-all:before {
  content: "9";
}
.ico-software-paragraph-justify-center:before {
  content: "!";
}
.ico-software-paragraph-justify-left:before {
  content: "\"";
}
.ico-software-paragraph-justify-right:before {
  content: "#";
}
.ico-software-paragraph-space-after:before {
  content: "$";
}
.ico-software-paragraph-space-before:before {
  content: "%";
}
.ico-software-pathfinder-exclude:before {
  content: "&";
}
.ico-software-pathfinder-intersect:before {
  content: "'";
}
.ico-software-pathfinder-subtract:before {
  content: "(";
}
.ico-software-pathfinder-unite:before {
  content: ")";
}
.ico-software-pen:before {
  content: "*";
}
.ico-software-pen-add:before {
  content: "+";
}
.ico-software-pen-remove:before {
  content: ",";
}
.ico-software-pencil:before {
  content: "-";
}
.ico-software-polygonallasso:before {
  content: ".";
}
.ico-software-reflect-horizontal:before {
  content: "/";
}
.ico-software-reflect-vertical:before {
  content: ":";
}
.ico-software-remove-vectorpoint:before {
  content: ";";
}
.ico-software-scale-expand:before {
  content: "<";
}
.ico-software-scale-reduce:before {
  content: "=";
}
.ico-software-selection-oval:before {
  content: ">";
}
.ico-software-selection-polygon:before {
  content: "?";
}
.ico-software-selection-rectangle:before {
  content: "@";
}
.ico-software-selection-roundedrectangle:before {
  content: "[";
}
.ico-software-shape-oval:before {
  content: "]";
}
.ico-software-shape-polygon:before {
  content: "^";
}
.ico-software-shape-rectangle:before {
  content: "_";
}
.ico-software-shape-roundedrectangle:before {
  content: "`";
}
.ico-software-slice:before {
  content: "{";
}
.ico-software-transform-bezier:before {
  content: "|";
}
.ico-software-vector-box:before {
  content: "}";
}
.ico-software-vector-composite:before {
  content: "~";
}
.ico-software-vector-line:before {
  content: "\\";
}
.ico-software-vertical-align-bottom:before {
  content: "\e000";
}
.ico-software-vertical-align-center:before {
  content: "\e001";
}
.ico-software-vertical-align-top:before {
  content: "\e002";
}
.ico-software-vertical-distribute-bottom:before {
  content: "\e003";
}
.ico-software-vertical-distribute-center:before {
  content: "\e004";
}
.ico-software-vertical-distribute-top:before {
  content: "\e005";
}

/* linea weather */

@font-face {
  font-family: "linea-weather-10";
  src:url("/fonts/linea-weather-10.eot");
  src:url("/fonts/linea-weather-10.eot?#iefix") format("embedded-opentype"),
    url("/fonts/linea-weather-10.woff") format("woff"),
    url("/fonts/linea-weather-10.ttf") format("truetype"),
    url("/fonts/linea-weather-10.svg#linea-weather-10") format("svg");
  font-weight: normal;
  font-style: normal;
  font-size:24px !important;
}

[data-ico-weather]:before {
  font-family: "linea-weather-10" !important;
  content: attr(data-ico);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-weather"]:before,
[class*=" ico-weather"]:before {
  font-family: "linea-weather-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-weather-aquarius:before {
  content: "\e000";
}
.ico-weather-aries:before {
  content: "\e001";
}
.ico-weather-cancer:before {
  content: "\e002";
}
.ico-weather-capricorn:before {
  content: "\e003";
}
.ico-weather-cloud:before {
  content: "\e004";
}
.ico-weather-cloud-drop:before {
  content: "\e005";
}
.ico-weather-cloud-lightning:before {
  content: "\e006";
}
.ico-weather-cloud-snowflake:before {
  content: "\e007";
}
.ico-weather-downpour-fullmoon:before {
  content: "\e008";
}
.ico-weather-downpour-halfmoon:before {
  content: "\e009";
}
.ico-weather-downpour-sun:before {
  content: "\e00a";
}
.ico-weather-drop:before {
  content: "\e00b";
}
.ico-weather-first-quarter:before {
  content: "\e00c";
}
.ico-weather-fog:before {
  content: "\e00d";
}
.ico-weather-fog-fullmoon:before {
  content: "\e00e";
}
.ico-weather-fog-halfmoon:before {
  content: "\e00f";
}
.ico-weather-fog-sun:before {
  content: "\e010";
}
.ico-weather-fullmoon:before {
  content: "\e011";
}
.ico-weather-gemini:before {
  content: "\e012";
}
.ico-weather-hail:before {
  content: "\e013";
}
.ico-weather-hail-fullmoon:before {
  content: "\e014";
}
.ico-weather-hail-halfmoon:before {
  content: "\e015";
}
.ico-weather-hail-sun:before {
  content: "\e016";
}
.ico-weather-last-quarter:before {
  content: "\e017";
}
.ico-weather-leo:before {
  content: "\e018";
}
.ico-weather-libra:before {
  content: "\e019";
}
.ico-weather-lightning:before {
  content: "\e01a";
}
.ico-weather-mistyrain:before {
  content: "\e01b";
}
.ico-weather-mistyrain-fullmoon:before {
  content: "\e01c";
}
.ico-weather-mistyrain-halfmoon:before {
  content: "\e01d";
}
.ico-weather-mistyrain-sun:before {
  content: "\e01e";
}
.ico-weather-moon:before {
  content: "\e01f";
}
.ico-weather-moondown-full:before {
  content: "\e020";
}
.ico-weather-moondown-half:before {
  content: "\e021";
}
.ico-weather-moonset-full:before {
  content: "\e022";
}
.ico-weather-moonset-half:before {
  content: "\e023";
}
.ico-weather-move2:before {
  content: "\e024";
}
.ico-weather-newmoon:before {
  content: "\e025";
}
.ico-weather-pisces:before {
  content: "\e026";
}
.ico-weather-rain:before {
  content: "\e027";
}
.ico-weather-rain-fullmoon:before {
  content: "\e028";
}
.ico-weather-rain-halfmoon:before {
  content: "\e029";
}
.ico-weather-rain-sun:before {
  content: "\e02a";
}
.ico-weather-sagittarius:before {
  content: "\e02b";
}
.ico-weather-scorpio:before {
  content: "\e02c";
}
.ico-weather-snow:before {
  content: "\e02d";
}
.ico-weather-snow-fullmoon:before {
  content: "\e02e";
}
.ico-weather-snow-halfmoon:before {
  content: "\e02f";
}
.ico-weather-snow-sun:before {
  content: "\e030";
}
.ico-weather-snowflake:before {
  content: "\e031";
}
.ico-weather-star:before {
  content: "\e032";
}
.ico-weather-storm-11:before {
  content: "\e033";
}
.ico-weather-storm-32:before {
  content: "\e034";
}
.ico-weather-storm-fullmoon:before {
  content: "\e035";
}
.ico-weather-storm-halfmoon:before {
  content: "\e036";
}
.ico-weather-storm-sun:before {
  content: "\e037";
}
.ico-weather-sun:before {
  content: "\e038";
}
.ico-weather-sundown:before {
  content: "\e039";
}
.ico-weather-sunset:before {
  content: "\e03a";
}
.ico-weather-taurus:before {
  content: "\e03b";
}
.ico-weather-tempest:before {
  content: "\e03c";
}
.ico-weather-tempest-fullmoon:before {
  content: "\e03d";
}
.ico-weather-tempest-halfmoon:before {
  content: "\e03e";
}
.ico-weather-tempest-sun:before {
  content: "\e03f";
}
.ico-weather-variable-fullmoon:before {
  content: "\e040";
}
.ico-weather-variable-halfmoon:before {
  content: "\e041";
}
.ico-weather-variable-sun:before {
  content: "\e042";
}
.ico-weather-virgo:before {
  content: "\e043";
}
.ico-weather-waning-cresent:before {
  content: "\e044";
}
.ico-weather-waning-gibbous:before {
  content: "\e045";
}
.ico-weather-waxing-cresent:before {
  content: "\e046";
}
.ico-weather-waxing-gibbous:before {
  content: "\e047";
}
.ico-weather-wind:before {
  content: "\e048";
}
.ico-weather-wind-e:before {
  content: "\e049";
}
.ico-weather-wind-fullmoon:before {
  content: "\e04a";
}
.ico-weather-wind-halfmoon:before {
  content: "\e04b";
}
.ico-weather-wind-n:before {
  content: "\e04c";
}
.ico-weather-wind-ne:before {
  content: "\e04d";
}
.ico-weather-wind-nw:before {
  content: "\e04e";
}
.ico-weather-wind-s:before {
  content: "\e04f";
}
.ico-weather-wind-se:before {
  content: "\e050";
}
.ico-weather-wind-sun:before {
  content: "\e051";
}
.ico-weather-wind-sw:before {
  content: "\e052";
}
.ico-weather-wind-w:before {
  content: "\e053";
}
.ico-weather-windgust:before {
  content: "\e054";
}

/* linea commerce */

@font-face {
  font-family: "linea-ecommerce-10";
  src:url("/fonts/linea-ecommerce-10.eot");
  src:url("/fonts/linea-ecommerce-10.eot?#iefix") format("embedded-opentype"),
    url("/fonts/linea-ecommerce-10.woff") format("woff"),
    url("/fonts/linea-ecommerce-10.ttf") format("truetype"),
    url("/fonts/linea-ecommerce-10.svg#linea-ecommerce-10") format("svg");
  font-weight: normal;
  font-style: normal;
  font-size:24px !important;

}

[data-ico-ecommerce]:before {
  font-family: "linea-ecommerce-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-ecommerce"]:before,
[class*=" ico-ecommerce"]:before {
  font-family: "linea-ecommerce-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-ecommerce-bag:before {
  content: "a";
}
.ico-ecommerce-bag-check:before {
  content: "b";
}
.ico-ecommerce-bag-cloud:before {
  content: "c";
}
.ico-ecommerce-bag-download:before {
  content: "d";
}
.ico-ecommerce-bag-minus:before {
  content: "e";
}
.ico-ecommerce-bag-plus:before {
  content: "f";
}
.ico-ecommerce-bag-refresh:before {
  content: "g";
}
.ico-ecommerce-bag-remove:before {
  content: "h";
}
.ico-ecommerce-bag-search:before {
  content: "i";
}
.ico-ecommerce-bag-upload:before {
  content: "j";
}
.ico-ecommerce-banknote:before {
  content: "k";
}
.ico-ecommerce-banknotes:before {
  content: "l";
}
.ico-ecommerce-basket:before {
  content: "m";
}
.ico-ecommerce-basket-check:before {
  content: "n";
}
.ico-ecommerce-basket-cloud:before {
  content: "o";
}
.ico-ecommerce-basket-download:before {
  content: "p";
}
.ico-ecommerce-basket-minus:before {
  content: "q";
}
.ico-ecommerce-basket-plus:before {
  content: "r";
}
.ico-ecommerce-basket-refresh:before {
  content: "s";
}
.ico-ecommerce-basket-remove:before {
  content: "t";
}
.ico-ecommerce-basket-search:before {
  content: "u";
}
.ico-ecommerce-basket-upload:before {
  content: "v";
}
.ico-ecommerce-bath:before {
  content: "w";
}
.ico-ecommerce-cart:before {
  content: "x";
}
.ico-ecommerce-cart-check:before {
  content: "y";
}
.ico-ecommerce-cart-cloud:before {
  content: "z";
}
.ico-ecommerce-cart-content:before {
  content: "A";
}
.ico-ecommerce-cart-download:before {
  content: "B";
}
.ico-ecommerce-cart-minus:before {
  content: "C";
}
.ico-ecommerce-cart-plus:before {
  content: "D";
}
.ico-ecommerce-cart-refresh:before {
  content: "E";
}
.ico-ecommerce-cart-remove:before {
  content: "F";
}
.ico-ecommerce-cart-search:before {
  content: "G";
}
.ico-ecommerce-cart-upload:before {
  content: "H";
}
.ico-ecommerce-cent:before {
  content: "I";
}
.ico-ecommerce-colon:before {
  content: "J";
}
.ico-ecommerce-creditcard:before {
  content: "K";
}
.ico-ecommerce-diamond:before {
  content: "L";
}
.ico-ecommerce-dollar:before {
  content: "M";
}
.ico-ecommerce-euro:before {
  content: "N";
}
.ico-ecommerce-franc:before {
  content: "O";
}
.ico-ecommerce-gift:before {
  content: "P";
}
.ico-ecommerce-graph1:before {
  content: "Q";
}
.ico-ecommerce-graph2:before {
  content: "R";
}
.ico-ecommerce-graph3:before {
  content: "S";
}
.ico-ecommerce-graph-decrease:before {
  content: "T";
}
.ico-ecommerce-graph-increase:before {
  content: "U";
}
.ico-ecommerce-guarani:before {
  content: "V";
}
.ico-ecommerce-kips:before {
  content: "W";
}
.ico-ecommerce-lira:before {
  content: "X";
}
.ico-ecommerce-megaphone:before {
  content: "Y";
}
.ico-ecommerce-money:before {
  content: "Z";
}
.ico-ecommerce-naira:before {
  content: "0";
}
.ico-ecommerce-pesos:before {
  content: "1";
}
.ico-ecommerce-pound:before {
  content: "2";
}
.ico-ecommerce-receipt:before {
  content: "3";
}
.ico-ecommerce-receipt-bath:before {
  content: "4";
}
.ico-ecommerce-receipt-cent:before {
  content: "5";
}
.ico-ecommerce-receipt-dollar:before {
  content: "6";
}
.ico-ecommerce-receipt-euro:before {
  content: "7";
}
.ico-ecommerce-receipt-franc:before {
  content: "8";
}
.ico-ecommerce-receipt-guarani:before {
  content: "9";
}
.ico-ecommerce-receipt-kips:before {
  content: "!";
}
.ico-ecommerce-receipt-lira:before {
  content: "\"";
}
.ico-ecommerce-receipt-naira:before {
  content: "#";
}
.ico-ecommerce-receipt-pesos:before {
  content: "$";
}
.ico-ecommerce-receipt-pound:before {
  content: "%";
}
.ico-ecommerce-receipt-rublo:before {
  content: "&";
}
.ico-ecommerce-receipt-rupee:before {
  content: "'";
}
.ico-ecommerce-receipt-tugrik:before {
  content: "(";
}
.ico-ecommerce-receipt-won:before {
  content: ")";
}
.ico-ecommerce-receipt-yen:before {
  content: "*";
}
.ico-ecommerce-receipt-yen2:before {
  content: "+";
}
.ico-ecommerce-recept-colon:before {
  content: ",";
}
.ico-ecommerce-rublo:before {
  content: "-";
}
.ico-ecommerce-rupee:before {
  content: ".";
}
.ico-ecommerce-safe:before {
  content: "/";
}
.ico-ecommerce-sale:before {
  content: ":";
}
.ico-ecommerce-sales:before {
  content: ";";
}
.ico-ecommerce-ticket:before {
  content: "<";
}
.ico-ecommerce-tugriks:before {
  content: "=";
}
.ico-ecommerce-wallet:before {
  content: ">";
}
.ico-ecommerce-won:before {
  content: "?";
}
.ico-ecommerce-yen:before {
  content: "@";
}
.ico-ecommerce-yen2:before {
  content: "[";
}

/* lines basic */

@font-face {
  font-family: "linea-basic-10";
  src:url("/fonts/linea-basic-10.eot");
  src:url("/fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("/fonts/linea-basic-10.woff") format("woff"),
    url("/fonts/linea-basic-10.ttf") format("truetype"),
    url("/fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-ico-basic]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-basic"]:before,
[class*=" ico-basic"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-basic-accelerator:before {
  content: "a";
}
.ico-basic-alarm:before {
  content: "b";
}
.ico-basic-anchor:before {
  content: "c";
}
.ico-basic-anticlockwise:before {
  content: "d";
}
.ico-basic-archive:before {
  content: "e";
}
.ico-basic-archive-full:before {
  content: "f";
}
.ico-basic-ban:before {
  content: "g";
}
.ico-basic-battery-charge:before {
  content: "h";
}
.ico-basic-battery-empty:before {
  content: "i";
}
.ico-basic-battery-full:before {
  content: "j";
}
.ico-basic-battery-half:before {
  content: "k";
}
.ico-basic-bolt:before {
  content: "l";
}
.ico-basic-book:before {
  content: "m";
}
.ico-basic-book-pen:before {
  content: "n";
}
.ico-basic-book-pencil:before {
  content: "o";
}
.ico-basic-bookmark:before {
  content: "p";
}
.ico-basic-calculator:before {
  content: "q";
}
.ico-basic-calendar:before {
  content: "r";
}
.ico-basic-cards-diamonds:before {
  content: "s";
}
.ico-basic-cards-hearts:before {
  content: "t";
}
.ico-basic-case:before {
  content: "u";
}
.ico-basic-chronometer:before {
  content: "v";
}
.ico-basic-clessidre:before {
  content: "w";
}
.ico-basic-clock:before {
  content: "x";
}
.ico-basic-clockwise:before {
  content: "y";
}
.ico-basic-cloud:before {
  content: "z";
}
.ico-basic-clubs:before {
  content: "A";
}
.ico-basic-compass:before {
  content: "B";
}
.ico-basic-cup:before {
  content: "C";
}
.ico-basic-diamonds:before {
  content: "D";
}
.ico-basic-display:before {
  content: "E";
}
.ico-basic-download:before {
  content: "F";
}
.ico-basic-exclamation:before {
  content: "G";
}
.ico-basic-eye:before {
  content: "H";
}
.ico-basic-eye-closed:before {
  content: "I";
}
.ico-basic-female:before {
  content: "J";
}
.ico-basic-flag1:before {
  content: "K";
}
.ico-basic-flag2:before {
  content: "L";
}
.ico-basic-floppydisk:before {
  content: "M";
}
.ico-basic-folder:before {
  content: "N";
}
.ico-basic-folder-multiple:before {
  content: "O";
}
.ico-basic-gear:before {
  content: "P";
}
.ico-basic-geolocalize-01:before {
  content: "Q";
}
.ico-basic-geolocalize-05:before {
  content: "R";
}
.ico-basic-globe:before {
  content: "S";
}
.ico-basic-gunsight:before {
  content: "T";
}
.ico-basic-hammer:before {
  content: "U";
}
.ico-basic-headset:before {
  content: "V";
}
.ico-basic-heart:before {
  content: "W";
}
.ico-basic-heart-broken:before {
  content: "X";
}
.ico-basic-helm:before {
  content: "Y";
}
.ico-basic-home:before {
  content: "Z";
}
.ico-basic-info:before {
  content: "0";
}
.ico-basic-ipod:before {
  content: "1";
}
.ico-basic-joypad:before {
  content: "2";
}
.ico-basic-key:before {
  content: "3";
}
.ico-basic-keyboard:before {
  content: "4";
}
.ico-basic-laptop:before {
  content: "5";
}
.ico-basic-life-buoy:before {
  content: "6";
}
.ico-basic-lightbulb:before {
  content: "7";
}
.ico-basic-link:before {
  content: "8";
}
.ico-basic-lock:before {
  content: "9";
}
.ico-basic-lock-open:before {
  content: "!";
}
.ico-basic-magic-mouse:before {
  content: "\"";
}
.ico-basic-magnifier:before {
  content: "#";
}
.ico-basic-magnifier-minus:before {
  content: "$";
}
.ico-basic-magnifier-plus:before {
  content: "%";
}
.ico-basic-mail:before {
  content: "&";
}
.ico-basic-mail-multiple:before {
  content: "'";
}
.ico-basic-mail-open:before {
  content: "(";
}
.ico-basic-mail-open-text:before {
  content: ")";
}
.ico-basic-male:before {
  content: "*";
}
.ico-basic-map:before {
  content: "+";
}
.ico-basic-message:before {
  content: ",";
}
.ico-basic-message-multiple:before {
  content: "-";
}
.ico-basic-message-txt:before {
  content: ".";
}
.ico-basic-mixer2:before {
  content: "/";
}
.ico-basic-mouse:before {
  content: ":";
}
.ico-basic-notebook:before {
  content: ";";
}
.ico-basic-notebook-pen:before {
  content: "<";
}
.ico-basic-notebook-pencil:before {
  content: "=";
}
.ico-basic-paperplane:before {
  content: ">";
}
.ico-basic-pencil-ruler:before {
  content: "?";
}
.ico-basic-pencil-ruler-pen:before {
  content: "@";
}
.ico-basic-photo:before {
  content: "[";
}
.ico-basic-picture:before {
  content: "]";
}
.ico-basic-picture-multiple:before {
  content: "^";
}
.ico-basic-pin1:before {
  content: "_";
}
.ico-basic-pin2:before {
  content: "`";
}
.ico-basic-postcard:before {
  content: "{";
}
.ico-basic-postcard-multiple:before {
  content: "|";
}
.ico-basic-printer:before {
  content: "}";
}
.ico-basic-question:before {
  content: "~";
}
.ico-basic-rss:before {
  content: "\\";
}
.ico-basic-server:before {
  content: "\e000";
}
.ico-basic-server2:before {
  content: "\e001";
}
.ico-basic-server-cloud:before {
  content: "\e002";
}
.ico-basic-server-download:before {
  content: "\e003";
}
.ico-basic-server-upload:before {
  content: "\e004";
}
.ico-basic-settings:before {
  content: "\e005";
}
.ico-basic-share:before {
  content: "\e006";
}
.ico-basic-sheet:before {
  content: "\e007";
}
.ico-basic-sheet-multiple:before {
  content: "\e008";
}
.ico-basic-sheet-pen:before {
  content: "\e009";
}
.ico-basic-sheet-pencil:before {
  content: "\e00a";
}
.ico-basic-sheet-txt:before {
  content: "\e00b";
}
.ico-basic-signs:before {
  content: "\e00c";
}
.ico-basic-smartphone:before {
  content: "\e00d";
}
.ico-basic-spades:before {
  content: "\e00e";
}
.ico-basic-spread:before {
  content: "\e00f";
}
.ico-basic-spread-bookmark:before {
  content: "\e010";
}
.ico-basic-spread-text:before {
  content: "\e011";
}
.ico-basic-spread-text-bookmark:before {
  content: "\e012";
}
.ico-basic-star:before {
  content: "\e013";
}
.ico-basic-tablet:before {
  content: "\e014";
}
.ico-basic-target:before {
  content: "\e015";
}
.ico-basic-todo:before {
  content: "\e016";
}
.ico-basic-todo-pen:before {
  content: "\e017";
}
.ico-basic-todo-pencil:before {
  content: "\e018";
}
.ico-basic-todo-txt:before {
  content: "\e019";
}
.ico-basic-todolist-pen:before {
  content: "\e01a";
}
.ico-basic-todolist-pencil:before {
  content: "\e01b";
}
.ico-basic-trashcan:before {
  content: "\e01c";
}
.ico-basic-trashcan-full:before {
  content: "\e01d";
}
.ico-basic-trashcan-refresh:before {
  content: "\e01e";
}
.ico-basic-trashcan-remove:before {
  content: "\e01f";
}
.ico-basic-upload:before {
  content: "\e020";
}
.ico-basic-usb:before {
  content: "\e021";
}
.ico-basic-video:before {
  content: "\e022";
}
.ico-basic-watch:before {
  content: "\e023";
}
.ico-basic-webpage:before {
  content: "\e024";
}
.ico-basic-webpage-img-txt:before {
  content: "\e025";
}
.ico-basic-webpage-multiple:before {
  content: "\e026";
}
.ico-basic-webpage-txt:before {
  content: "\e027";
}
.ico-basic-world:before {
  content: "\e028";
}
