<div class="scroll-navigation"></div>
<div class="about-page">
  <div class="container-fluid">
      <div class="row">
        <article class="col-md-12">
          <h1>Hi There!</h1>
          <p>I am Nikoletta Kanellou, an Athens based designer and Cinnamon Design showcases the creative aspect of me.</p>
          <p>My work varies in creative disciplines, complexity and scale, from user experience to architecture and brand identity. My user-centered design approach is all about creating a unique and dynamic experience for the user, regardless if this happens in a physical or digital space.</p>
          <p>My academic background includes a Diploma in Architecture from the NTUA School of Architecture and an MA in Digital Arts from the Athens School of Fine Arts.</p>
        </article>
        <article class="col-md-12 selected">
          <h3>Selected Exhibitions and Awards</h3>
          <p><span>Domes Awards, Best Project of the years 2009-2013</span><b>Award, 2014</b> </p>
          <p><span>Back to Athens 2014: Dys-tortion</span><b>Group Exhibition, 2014</b></p>
          <p><span>Industrial heritage: Regeneration and Sustainability</span><b>Group Exhibition, 2013</b></p>
          <p><span>Museum of underwater antiquities, International Architectural Competition</span><b>Honorable Mention, 2013</b></p>
          <p><span>DIALOGUE#4: Space and the familiar</span><b>Group Exhibition, 2013</b></p>
          <p><span>Athens Fringe Festival 2010: Organoid</span><b>Group Exhibition, 2010</b></p>
        </article>
        <article class="col-md-12">
          <p class="contant-details">
            <a href="mailto:nikanellou@gmail.com">nikanellou@gmail.com</a>
            <span>|</span>
            <span>+30 2111846792</span>
            <span>|</span>
            <span>Nikiou 7, Athens 10560</span>
          </p>
        </article>
      </div>
      <div class="spacer-100"></div>
  </div>
</div>
