<!-- start Footer -->
<footer class="footer light-grey-bg clearfix" id="footer">
    <div class="container">
        <!-- start Row -->
        <div class="row clearfix">
            <div class="col-md-3">
                <!-- start Contact Info -->
                <div class="footer-contact-info footer-widget">
                    <h5>DECA STUDIOS INC</h5>
                    <address>221 Baker St, Bristol Chowk <br> Dublin, 56987</address>
                  <span class="phone">P: +1 234 5678 901</span>
                    <span class="mail">E: <a href="mailto:hello@deca.com" title="hello@deca.com">hello@deca.com</a></span>
                    <a href="contact.html" title="LOCATE ON MAP" class="location-map">LOCATE ON MAP</a>
                </div>
                <!-- End Contact Info -->
            </div>
            <div class="col-md-5">
                <!-- start Contact Us -->
                <div class="footer-contact-us footer-widget">
                  <h5>CONNECT WITH US</h5>
                    <!-- start Social Links -->
                    <div class="footer-social-links clearfix">
                        <ul>
                        <li><a href="#" title="Behance">Behance</a></li>
                        <li><a href="#" title="Facebook">Facebook</a></li>
                        <li><a href="#" title="Twitter">Twitter</a></li>
                        <li><a href="#" title="Dribbble">Dribbble</a></li>
                        <li><a href="#" title="Google+">Google+</a></li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                    <!-- start Newsletter -->
                    <div class="footer-newsletter clearfix">
                        <form action="#">
                            <input name="field" type="text" value="" placeholder="Subscribe to our newsletter" class="input-search">
                            <input name="submit" type="submit" value="SUBMIT" class="btn-submit">
                        </form>
                    </div>
                    <!-- End Newsletter -->
                </div>
              <!-- End Contact Us -->
            </div>
            <div class="col-md-4">
                <!-- start Get in Touch -->
                <div class="footer-get-in-touch">
                    <h5><a href="contact.html" title="GET IN TOUCH">GET IN TOUCH</a></h5>
                    <!-- start Footer Logo -->
                    <div class="footer-logo">
                      <a href="index.html" title="Deca"><img src="/images/footer_logo.png" alt="Deca"></a>
                        <span>Deca Studio 2015</span>
                        <span>All Rights Reserved</span>
                    </div>
                    <!-- End Footer Logo -->
                </div>
                <!-- End Get in Touch -->
            </div>
        </div>
        <!-- End Row -->
    </div>
</footer>
<!-- End Footer -->
<a id="back-to-top"><i class="fa fa-chevron-up"></i></a>
