<div class="get-in-touch">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="text-align: center;">
            	<a href="mailto:nikanellou@gmail.com" title="GET IN TOUCH"><i class="fa fa-envelope"></i> GET IN TOUCH</a>
          	</div>
        </div>
    </div>
</div>
