<!-- Start Get in Touch -->
<div class="get-in-touch">
    <div class="container">
        <!-- Start Row -->
        <div class="row">
            <div class="col-md-12 col-sm-12" style="text-align: center;">
            	<a href="mailto:nikanellou@gmail.com" title="GET IN TOUCH"><i class="fa fa-envelope"></i> GET IN TOUCH</a>
          	</div>
            <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="social-icons-black">
                    <ul class="social-icons-colored">
                        <li class="behance"><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
        	</div> -->
        </div>
        <!-- End Row -->
    </div>
</div>
<!-- End Get in Touch -->
