<header id="header" class="header-style-1">
    <!-- Start Logo -->
    <div class="logo">
      <a href="/" title="cinnamon design">cinnamon&bull;design</a>
    </div>
    <!-- End Logo -->
</header>
