<div class="main-navigation">
    <nav class="navbar navbar-default menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#custom-navigation" aria-expanded="false"></button>
                <a class="navbar-brand" href="#"> <span>Menu</span></a>
            </div>
            <div class="collapse navbar-collapse" id="custom-navigation">
            	<a class="close" href="#"><i class="ico-arrows-remove"></i></a>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects.html">Portfolio</a>
                    	<ul class="dd">
                          <% data.projects.list.each do |project| %>
                            <li><a href="/projects/<%= project.path %>.html"><%= project.title %></a></li>
                          <% end %>
                        </ul>
                    </li>
                    <li><a href="/about.html">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
