<%= content_for(:title, 'About') %>
<%= content_for(:description, 'Nikoletta Kanellou is an Architech and Designer based in Athens, Greece.') %>

<div class="body about-page">
  <%= partial "partials/about" %>
</div>
