<%= content_for(:description, 'Cinnamon.design is a design studio based in Athens, founded by Nikoletta Kanellou.') %>

<div class="scroll-navigation"></div>
<div class="body">
    <%= partial "partials/home" %>
    <div class="spacer-100"></div>
    <%= partial "partials/gallery" %>
    <div class="spacer-100"></div>
    <%= partial "partials/about" %>
</div>
