<% content_for(:title, "Projects") %>
<% content_for(:description, 'Architecture and Design portfolio of Nikoletta Kanellou') %>

<div class="body">
    <%= partial "partials/gallery" %>
    <div class="spacer-100"></div>
</div>
